@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
    list-style-type: none;
    color: white;
    text-decoration: none;
    font-family: 'Bebas Neue';
    font-size: 2rem;
    text-align: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
}

.sucursales {
    color: white;
    font-size: 3rem;
    font-family: 'Bebas Neue';
    background-color: black;
    text-align: center;
    margin: auto;
}

.combos {
    font-size: 3rem;
    font-family: 'Bebas Neue';
    color: orangered;
    margin: 25px;
    text-align: center;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    padding: 10px;
    grid-gap: 10px;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__item{
    position: relative;
    margin-bottom: 60px;
    margin-left: 25px;
    width: 90%;
    height: 90%;
}

.gallery__title {
    position: absolute;
    bottom: 0;
    color: white;
    text-align: center;
    font-family: 'Roboto Condensed'; 
}

.sello {
    position: absolute;
    bottom: 0;
    color: cyan;
    text-align: center;
    font-family: 'Faster One';
}

.sello1 {
    position: absolute;
    bottom: 0;
    color: darkred;
    text-align: center;
    font-family: 'Faster One';
}

.sello2 {
    position: absolute;
    bottom: 0;
    color: darkgreen;
    text-align: center;
    font-family: 'Faster One';
}

.sello3 {
    position: absolute;
    bottom: 0;
    color: darkblue;
    text-align: center;
    font-family: 'Faster One';
}

.sello4 {
    position: absolute;
    bottom: 0;
    color: yellowgreen;
    text-align: center;
    font-family: 'Faster One';
}

.sello5 {
    position: absolute;
    bottom: 0;
    color: white;
    text-align: center;
    font-family: 'Faster One';
}

.sello6 {
    position: absolute;
    bottom: 0;
    color: indianred;
    text-align: center;
    font-family: 'Faster One';
}

.sello7 {
    position: absolute;
    bottom: 0;
    color: lightyellow;
    text-align: center;
    font-family: 'Faster One';
}

.sello8 {
    position: absolute;
    bottom: 0;
    color: green;
    text-align: center;
    font-family: 'Faster One';
}
.sellos {
     position: absolute;
    bottom: 0;
    color: yellow;
    text-align: center;
    font-family: 'Big Shoulders Stencil Display';
    font-size: 5rem;
    padding-left: 60px;
    padding-bottom: 100px;
    transform: rotate(40deg);
}
@media all and (min-width: 768px) and (max-width: 980px) {
    .gallery-container {
        grid-template-columns: repeat(3, 1fr);
    }
    .contenedor {
        grid-template-columns: repeat(3, 1fr);
        font-size: 13rem;
    }
    .dibujo {
        grid-template-columns: repeat(3, 1fr);
    }
    .formulario {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media all and (min-width: 576px) and (max-width: 768px) {
    .gallery-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .contenedor {
        grid-template-columns: repeat(2, 1fr);
        font-size: 9rem;
    }
    .dibujo {
        grid-template-columns: repeat(2, 1fr);
    }
    .formulario {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media all and (min-width: 0px) and (max-width: 576px) {
    .gallery-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .contenedor {
        grid-template-columns: repeat(1, 1fr);
        font-size: 5rem;
    }
    .dibujo {
        grid-template-columns: repeat(1, 1fr);
    }
    .formulario {
        grid-template-columns: repeat(1, 1fr);
    }
}

.nav-item {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    padding: 2px;
    margin: 2px;
}

.nav-link {
    font-family: 'Bebas Neue';
    color: white;
}

.contenedor {
    position: relative;
    display: inline-block;
}
.titulo{
    color: white;
    font-size: 15rem;
    font-family: 'Comforter Brush';
    text-align: center;
    position: absolute;
    top: 10px;
    left: 10px;
}

.fondo{
    height: 50%;
    width: 100%;
    display: flex;
}

.parrafo {
    text-align: center;
    font-family: 'Oswald';
    font-size: 1rem;
    color: black;
list    box-sizing: border-box;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.ilustracion {
    text-align: center;
    margin-left: 450px;
}

.suscripcion {
    text-align: center;
    font-size: 2rem;
    color: orangered;
}

.form {
    margin-left: 460px;
    box-sizing: border-box;
    width: 30%; 
}