@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Faster+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");
/* line 1, ../../../../../Documents/PF/scss/_main.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border box;
}

/* line 8, ../../../../../Documents/PF/scss/_main.scss */
.nav {
  flex-wrap: wrap;
  background-color: black;
  list-style-type: none;
  color: white;
  text-decoration: none;
  font-family: 'Bebas Neue';
  font-size: 3rem;
  text-align: left;
  font-size: 2rem;
  text-align: center;
  width: 100%;
}

/* line 20, ../../../../../Documents/PF/scss/_main.scss */
.nav .nav-item {
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  padding: 2px;
  margin: 2px;
}

/* line 26, ../../../../../Documents/PF/scss/_main.scss */
.nav .nav-item .nav-link {
  font-family: 'Bebas Neue';
  color: #d2591e;
}

/* line 33, ../../../../../Documents/PF/scss/_main.scss */
.fondo {
  height: 100vh;
  height: 50%;
  width: 100%;
  display: flex;
}

/* line 40, ../../../../../Documents/PF/scss/_main.scss */
.titulo {
  color: white;
  font-size: 15rem;
  font-family: 'Comforter Brush';
  margin-top: 150px;
  margin-right: 150px;
  margin-left: 80px;
  text-align: center;
  position: absolute;
  top: 10px;
  left: 10px;
}

/* line 53, ../../../../../Documents/PF/scss/_main.scss */
.subtitulo {
  color: black;
  font-size: 4rem;
  font-family: 'Amatic SC';
  text-align: center;
}

/* line 60, ../../../../../Documents/PF/scss/_main.scss */
.ilustracion {
  text-align: center;
  margin-left: 450px;
}

/* line 64, ../../../../../Documents/PF/scss/_main.scss */
.historia {
  color: black;
  font-size: 3rem;
  font-family: 'Amatic SC';
  text-align: center;
}

/* line 70, ../../../../../Documents/PF/scss/_main.scss */
.parrafo {
  text-align: center;
  font-family: 'Oswald';
  font-size: 1.7rem;
  color: black;
  box-sizing: border-box;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

/* line 81, ../../../../../Documents/PF/scss/_main.scss */
.sub {
  text-align: center;
  font-family: 'Bebas Neue';
  font-size: 4rem;
  color: #0c1922;
  box-sizing: border-box;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

/* line 92, ../../../../../Documents/PF/scss/_main.scss */
.suscripcion {
  text-align: center;
  font-size: 2rem;
  color: orangered;
}

/* line 97, ../../../../../Documents/PF/scss/_main.scss */
.form {
  margin-left: 460px;
  margin-bottom: 20px;
  box-sizing: border-box;
  width: 30%;
}

/* line 103, ../../../../../Documents/PF/scss/_main.scss */
.list-item {
  text-align: center;
  font-family: 'Oswald';
  font-size: 2rem;
  color: #d2591e;
}

/*# sourceMappingURL=estilos.css.map */