@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Faster+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");
/* line 1, ../../../../../Documents/PF/scss/_main.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border box;
}

/* line 8, ../../../../../Documents/PF/scss/_main.scss */
.nav {
  flex-wrap: wrap;
  list-style-type: none;
  color: white;
  text-decoration: none;
  font-family: 'Bebas Neue';
  font-size: 3rem;
  text-align: left;
  font-size: 2rem;
  text-align: center;
  position: fixed;
  width: 100%;
  background-color: white;
  opacity: .9;
}

/* line 22, ../../../../../Documents/PF/scss/_main.scss */
.nav .nav-item {
  display: flex;
  flex-wrap: wrap;
}

/* line 25, ../../../../../Documents/PF/scss/_main.scss */
.nav .nav-item .nav-link {
  font-family: 'Bebas Neue';
  color: #EB2F00;
}

/* line 32, ../../../../../Documents/PF/scss/_main.scss */
.fondo {
  height: 100vh;
  height: 50%;
  width: 100%;
  display: flex;
}

/* line 39, ../../../../../Documents/PF/scss/_main.scss */
.titulo, .titulo-abajo {
  color: white;
  font-size: 15rem;
  font-family: 'Comforter Brush';
  margin-top: 150px;
  margin-right: 150px;
  margin-left: 80px;
  text-align: center;
  position: absolute;
  top: 10px;
  left: 10px;
}

/* line 56, ../../../../../Documents/PF/scss/_main.scss */
.subtitulo {
  color: black;
  font-family: 'Amatic SC';
  text-align: center;
  font-size: 4rem;
}

/* line 60, ../../../../../Documents/PF/scss/_main.scss */
.dibujo {
  text-align: center;
}

/* line 62, ../../../../../Documents/PF/scss/_main.scss */
.dibujo .ilustracion {
  height: 500px;
}

/* line 68, ../../../../../Documents/PF/scss/_main.scss */
.historia {
  color: black;
  font-family: 'Amatic SC';
  text-align: center;
  font-size: 3rem;
}

/* line 72, ../../../../../Documents/PF/scss/_main.scss */
.parrafo {
  text-align: center;
  font-family: 'Oswald';
  font-size: 1.7rem;
  color: black;
  box-sizing: border-box;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

/* line 83, ../../../../../Documents/PF/scss/_main.scss */
.sub {
  text-align: center;
  font-family: 'Bebas Neue';
  font-size: 4rem;
  color: #EB2F00;
  box-sizing: border-box;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

/* line 94, ../../../../../Documents/PF/scss/_main.scss */
.suscripcion {
  text-align: center;
  font-size: 2rem;
  color: orangered;
}

/* line 99, ../../../../../Documents/PF/scss/_main.scss */
.form {
  margin-left: 460px;
  margin-bottom: 20px;
  box-sizing: border-box;
  width: 30%;
}

/* line 105, ../../../../../Documents/PF/scss/_main.scss */
.list-item {
  text-align: center;
  font-family: 'Oswald';
  font-size: 2rem;
  color: #d2591e;
}

/* line 111, ../../../../../Documents/PF/scss/_main.scss */
.titulo-abajo {
  color: #D4220B;
  margin-top: 300px;
  position: relative;
}

/* line 124, ../../../../../Documents/PF/scss/_main.scss */
.list-item {
  color: #000;
  text-align: center;
  font-size: 2rem;
  font-family: "Oswald";
}

/* line 130, ../../../../../Documents/PF/scss/_main.scss */
.fondo-papas {
  background-image: url("../imagenes/papas.png");
  padding-bottom: 50px;
}

/*combos.html*/
/* line 137, ../../../../../Documents/PF/scss/_main.scss */
.titulo-menu {
  font-size: 3rem;
  font-family: 'Bebas Neue';
  color: black;
  text-align: center;
}

/* line 144, ../../../../../Documents/PF/scss/_main.scss */
.contenedor {
  text-align: center;
}

/* line 146, ../../../../../Documents/PF/scss/_main.scss */
.contenedor .fondo-logo {
  height: 300px;
  margin: 70px;
  margin-bottom: 0px;
  text-align: center;
}

/* line 154, ../../../../../Documents/PF/scss/_main.scss */
.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  padding: 20px;
  grid-gap: 10px;
}

/* line 160, ../../../../../Documents/PF/scss/_main.scss */
.gallery-container .gallery__item {
  position: relative;
}

/* line 162, ../../../../../Documents/PF/scss/_main.scss */
.gallery-container .gallery__item .gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* line 167, ../../../../../Documents/PF/scss/_main.scss */
.gallery-container .gallery__item .gallery__title {
  position: absolute;
  bottom: 0;
  color: white;
  text-align: center;
  font-family: 'Roboto Condensed';
}

@media all and (min-width: 768px) and (max-width: 980px) {
  /* line 178, ../../../../../Documents/PF/scss/_main.scss */
  .gallery-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media all and (min-width: 0px) and (max-width: 576px) {
  /* line 183, ../../../../../Documents/PF/scss/_main.scss */
  .gallery-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/*# sourceMappingURL=estilos.css.map */