*{
  margin: 0;
  padding: 0;
  box-sizing: border box;
}
 
 
.nav {
  flex-wrap: wrap;
  list-style-type: none;
  color: white;
  text-decoration: none;
  font-family: 'Bebas Neue';
  font-size: 3rem;
  text-align: left;
  font-size: 2rem;
  text-align: center;
  position: fixed;
  width: 100%;
  background-color: white;
  opacity: .9;
  .nav-item {
  display: flex;
  flex-wrap: wrap;
  .nav-link {
  font-family: 'Bebas Neue';
  color: #EB2F00;
}
}
}
 
.fondo {
  height: 100vh;
  height: 50%;
  width: 100%;
  display: flex;
}
 
.titulo {
  color: white;
  font-size: 15rem;
  font-family: 'Comforter Brush';
  margin-top: 150px;
  margin-right: 150px;
  margin-left: 80px;
  text-align: center;
  position: absolute;
  top: 10px;
  left: 10px;
}
@mixin historia{
  color: black;
  font-family: 'Amatic SC';
  text-align: center;
}
.subtitulo {
  @include historia;
  font-size: 4rem;
}
.dibujo {
  text-align: center;
  .ilustracion {
  height: 500px;
} 
}


.historia {
  @include historia;
  font-size: 3rem;
}
.parrafo {
  text-align: center;
  font-family: 'Oswald';
  font-size: 1.7rem;
  color: black;
  box-sizing: border-box;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}
.sub {
  text-align: center;
  font-family: 'Bebas Neue';
  font-size: 4rem;
  color: #EB2F00;
  box-sizing: border-box;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}
.suscripcion {
  text-align: center;
  font-size: 2rem;
  color: orangered;
}
.form {
  margin-left: 460px;
  margin-bottom: 20px;
  box-sizing: border-box;
  width: 30%;
}
.list-item {
  text-align: center;
  font-family: 'Oswald';
  font-size: 2rem;
  color: #d2591e
}
.titulo-abajo{
  @extend .titulo;
  color:#D4220B;
  margin-top:300px;
  position:relative;
}
$estilos: (
  color: #000,
  centro: center,
  font: 'Oswald',
  2rem:2rem,
);
 
.list-item {
  color:map-get($estilos, color);
  text-align: map-get($estilos, centro);
  font-size:map-get($estilos, 2rem);
  font-family:map-get($estilos, font);
}
.fondo-papas {
  background-image: url("../imagenes/papas.png");
  padding-bottom: 50px;
}

/*combos.html*/

.titulo-menu {
    font-size: 3rem;
    font-family: 'Bebas Neue';
    color: black;
    text-align: center;

}
.contenedor{
 text-align: center;
.fondo-logo {
 height: 300px;
 margin: 70px;
 margin-bottom: 0px;
 text-align: center;
} 
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    padding: 20px;
    grid-gap: 10px;
    .gallery__item {
    position: relative;
    .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
    .gallery__title {
    position: absolute;
    bottom: 0;
    color: white;
    text-align: center;
    font-family: 'Roboto Condensed'; 
}
}
}

@media all and (min-width: 768px) and (max-width: 980px) {
    .gallery-container {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media all and (min-width: 0px) and (max-width: 576px) {
    .gallery-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

